pre.asciinema-terminal {
    margin: 0;
}

#toc-aside {
    font-size: 70%;
    margin: 25px;
    opacity: 0;
    position: absolute;
    bottom: 60px;
    z-index: 1;
}

#toc-aside li {
    margin: 5px;
}

#toc-aside:hover {
    opacity: 1;
}
